<div
  class="container pt-5"
>
  <div
    class="row justify-content-center g-2"
  >
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <div
        class="row justify-content-center align-items-center g-2"
      >
        <div class="col-12">
            <div class="card">
                <img src="./regalo.png" class="img-gifts" alt="regalos akpo">
                <div class="card-body pt-5">
                    <h4 class="card-title text-center">Regalos</h4>
                    <app-gifts
                      (sendType)="getLotteryType($event)"
                    ></app-gifts>
                </div>
                
            </div>
        </div>
        <div class="col-12">
          <div class="card participants">
            <div class="card-body">
              <h4 class="card-title text-center">Participantes</h4>
              <app-list
                [listParticipants]="ListParticipants"
              ></app-list>
              
            </div>
          </div>
        </div>
    </div>
      
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 h-auto">
      <div class="card h-100">
        <div class="card-body">
            <h4 class="card-title text-center">Ruleta</h4>
            <div class="d-flex justify-content-center align-items-center h-100">
                <app-roulette 
                  [items]="ListParticipants"
                  [spinDuration]="10" 
                  [stopDelay]="1"
                  (winner)="winnerSelected($event)"
                >
                ></app-roulette>
            </div>
          </div>
        </div>
    </div>
  </div>
  <app-messages #messageComponent></app-messages>
</div>


@if(isLoading) {
  <app-loading></app-loading>
}