.loading-overlay {
    position: fixed; /* Posición fija para cubrir toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}

.loading-container {
    text-align: center; /* Centrar el texto */
}

.loading-icon-one {
    font-size: 50px; /* Tamaño del ícono */
    color: #2F57B2; /* Color del ícono */
}


.loading-icon-two {
    position: relative;
    top: 20px;
    left: -8px;
    font-size: 40px;
    color: #2F57B2;
}
.loading-text {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333; /* Cambia el color según tu tema */
}

.pi-spin-left {
    animation: spinLeft 2s infinite linear;
}

@keyframes spinLeft {
    100% {
        transform: rotate(-360deg); /* Rotación a la izquierda */
    }
}